<!doctype html>
<html lang="en" ng-app="smoothScrollExample">
  <head>
    <meta charset="utf-8">
    <style>
    body{
      height: 3000px;
    }
    #first-scroll{
      height: 1500px;
    }
    </style>
  </head>
  <body>

    <div ng-controller="MainCtrl">
      <div id="first-scroll">
        <button ng-click="goTo(500)">Go to</button>
      </div>
      <div id="second-scroll">
        <button ng-click="wiggle()">Make it wiggle!</button>
      </div>
      <div id="go-cat">
        <button ng-click="goToCat()">Go th the cat !</button>
      </div>
      <div id="cat">
        <img src="http://placekitten.com/200/300" alt="">
        <button ng-click="goToDog()">Go to the dog !</button>
      </div>
      <div id="dog">
        <img src="http://placedog.com/400/300" alt="">
      </div>
    </div>

    <script src="../bower_components/angular/angular.js"></script>
    <script src="app.js"></script>
    <script src="/.tmp/scripts/ng-smoothscroll.js"></script>
  </body>
</html>